{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript"> 
        var data_api = "http://{{host}}/load_chem?id="
        {% comment %} var properties_api = "{% url 'return_properties' %}" {% endcomment %}
        var properties_api = "http://{{host}}/return_properties?mol="
        var pubchem_api = "http://{{host}}/fetch_pub_chem?cid="
        var mol_properties = "http://{{host}}/mol_properties?mol="
        var save_image = "http://{{host}}/save_image?mol="
        var write_mol_file = "http://{{host}}/write_mol_file?mol="
        var closs_server = "http://{{host}}/close_server"
    </script>

    <script src="{% static  'Chem/js/protein.js' %}"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- theme meta -->
    <meta name="theme-name" content="focus" />
    <title>Chemical Structure Editing and Rrawing </title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <!-- Styles -->
    <link href="{% static  'Theme/css/lib/calendar2/pignose.calendar.min.css' %}" rel="stylesheet">
    <link href="{% static  'Theme/css/lib/chartist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static  'Theme/css/lib/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static  'Theme/css/lib/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static  'Theme/css/lib/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static  'Theme/css/lib/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static  'Theme/css/lib/weather-icons.css' %}" rel="stylesheet" />
    <link href="{% static  'Theme/css/lib/menubar/sidebar.css' %}" rel="stylesheet">
    <link href="{% static  'Theme/css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static  'Theme/css/lib/helper.css' %}" rel="stylesheet">
    <link href="{% static  'Theme/css/style.css' %}" rel="stylesheet">

</head>

<body>
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo"><a href="{% url 'ints' %}">
                        <span>Chem Draw</span></a></div>

                    <li class="label" style="{% if request.path == '/protein_viewer' %}display: none;{% else %}display: block;{% endif %}" >Apps</li>

                    <li><a class="sidebar-sub-toggle" style="{% if request.path == '/protein_viewer' %}display: none;{% else %}display: block;{% endif %}" ><i class="ti-bar-chart-alt"></i> Available Structures <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul id="chem_structure" style="height: 200px; overflow-y:auto;">
                            {% for d in mols %}
                                <div><button type="button" class="btn btn-default form-control {{d}}" style="width:100%; margin:1px;">Chem-{{d}}</button></div>
                            {% endfor %}
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle" style="{% if request.path == '/protein_viewer' %}display: none;{% else %}display: block;{% endif %}"><i class="ti-video-camera"></i> Rendering <span  class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <button type="button" class="btn btn-default form-control" style="width:100%; margin:1px;" id="rendering-stick"> Stick </button>
                            <button type="button" class="btn btn-default form-control" style="width:100%; margin:1px;" id="rendering-ball_stick"> Ball stick </button>
                            <button type="button" class="btn btn-default form-control" style="width:100%; margin:1px;" id="rendering-space_fill"> Space fill</button>
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle" style="{% if request.path == '/protein_viewer' %}display: none;{% else %}display: block;{% endif %}"><i class="ti-hummer"></i> Tools <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <button type="button" class="btn btn-default form-control" style="width:100%; margin:1px;" id="tool-b-1"> Confirmation Optimization </button>
                            <button type="button" class="btn btn-default form-control" style="width:100%; margin:1px;" id="tool-b-2"> Save 2D Image </button>
                            <button type="button" class="btn btn-default form-control" style="width:100%; margin:1px;" id="rendering-Properties">Compute Properties </button>
                        </ul>
                    </li>

                    <li id="protein-viewer-button" ><a class="sidebar-sub-toggle" ><i class="ti-hummer"></i> Protein 3D Viewer. <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul id="protein-viewer-button-list" style="{% if request.path == '/protein_viewer' %}display: block;{% else %}display: none;{% endif %}">                        
                            <div> <input type="text" id='pdb-query-input'> </input> <button type="button" class="btn btn-default form-control" style="" id="pdb-query">PDB query</button></div>
                            <div> <input type="text" id='opm-query-input' > </input> <button type="button" class="btn btn-default form-control" style="" id="opm-query">OPM query</button></div>
                            <div> <input type="file" id='file-input' > </input></div>

                        </ul>
                    </li>
                    <li><a href="https://{{host}}/documents" style="{% if request.path == '/protein_viewer' %}display: none;{% else %}display: block;{% endif %}" ><i class="ti-file"></i> Documentation</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <div class="drop-down dropdown-menu dropdown-menu-right">
                                </div>
                            </div>
                        </div>
                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <div class="drop-down dropdown-menu dropdown-menu-right">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">

                {% block content %}

                {% endblock %}

            </div>
        </div>
    </div>

</body>

<!-- jquery vendor -->
<script src="{% static  'Theme/js/lib/jquery.min.js' %}"></script>
<script src="{% static  'Theme/js/lib/jquery.nanoscroller.min.js' %}"></script>
<!-- nano scroller -->
<script src="{% static  'Theme/js/lib/menubar/sidebar.js' %}"></script>
<script src="{% static  'Theme/js/lib/preloader/pace.min.js' %}"></script>
<!-- sidebar -->
<script src="{% static  'Theme/js/lib/bootstrap.min.js' %}"></script>
<script src="{% static  'Theme/js/scripts.js' %}"></script>
<!-- bootstrap -->
<script src="{% static  'Theme/js/lib/calendar-2/moment.latest.min.js' %}"></script>
<script src="{% static  'Theme/js/lib/calendar-2/pignose.calendar.min.js' %}"></script>
<script src="{% static  'Theme/js/lib/calendar-2/pignose.init.js' %}"></script>
<script src="{% static  'Theme/js/lib/weather/jquery.simpleWeather.min.js' %}"></script>
<script src="{% static  'Theme/js/lib/weather/weather-init.js' %}"></script>
<script src="{% static  'Theme/js/lib/circle-progress/circle-progress.min.js' %}"></script>
<script src="{% static  'Theme/js/lib/circle-progress/circle-progress-init.js' %} "></script>
<script src="{% static  'Theme/js/lib/chartist/chartist.min.js' %}"></script>
<script src="{% static  'Theme/js/lib/sparklinechart/jquery.sparkline.min.js' %}"></script>
<script src="{% static  'Theme/js/lib/sparklinechart/sparkline.init.js' %}"></script>
<script src="{% static  'Theme/js/lib/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static  'Theme/js/lib/owl-carousel/owl.carousel-init.js' %}"></script>
<!-- scripit init-->
<script src="{% static  'Theme/js/dashboard2.js' %}"></script>

    <!-- Kekule -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js" integrity="sha512-tBzZQxySO5q5lqwLWfu8Q+o4VkTcRGOeQGVQ0ueJga4A1RKuzmAu5HXDOXLEjpbKyV7ow9ympVoa6wZLEzRzDg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.152.2/three.min.js" integrity="sha512-R7eFJsc3NlvsTn5hdD/Xvi6FwpFGAoGOa2nBNU89DXAZzXgQQrfhgHVpm5Kh7H9EuCU3Ymexph9z4IiHrq977g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/kekule/dist/themes/default/kekule.css" />
<script src="https://cdn.jsdelivr.net/npm/kekule/dist/kekule.min.js"></script>

<script src="{% static  'Chem/js/chem.js' %}"></script>

</html>
