{% extends 'Chem/base.html' %}
{% load static %}
{% block content %}

<section id="main-content">
    <div class="row" style="margin-left: 10px;">
        <div style="width:100%; margin-left: 30px; margin-top: 10px;">
            <li class="label" style="float:left; margin-left:5px;" > Search by PubChem ID </li>
        </div>
        <div class="form-group col-xs-3">
            <div class="input-group" style="margin-bottom:5px;">
                <div class="form-outline">
                    <input type="search"  class="form-control"  id="pub-chem-form"/>
                </div>
                <button type="button" class="btn btn-primary" style="height:42px; border-radius: 0px;">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            </div>

        <div class="form-group col-xs-3">
            <button type="button" class="btn btn-default form-control" style="width:130px; margin-left:10px;" id="update-3d-view">Update 3D view</button>
        </div>

        <div class="form-group col-xs-3">
            <button type="button" class="btn btn-default form-control" style="width:160px; margin-left:10px;" id="save-mol-to-galaxy">Save mol to Galaxy</button>
        </div>

        <div class="form-group col-xs-3">
        <button type="button" class="btn btn-default form-control" style="width:100px; margin-left:10px;" id="exit-tool">Exit Tool</button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">

            <div class="card">
                <div class="card-title">
                    <h4>Editor and Drawing.</h4>
                </div>
                <div><div id="composer" style="width:100%;height:500px;"  data-widget="Kekule.Editor.Composer" data-chem-obj=""></div></div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-title">
                    <h4>3D Viewer..</h4>
                </div>

                <div class="card-body">
                    <div><div id="chemViewer" style="width:100%; height:480px;" data-widget="Kekule.ChemWidget.Viewer" data-chem-obj=""></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-icon dib">
                        {% comment %} <i class="ti-money color-success border-success"></i> {% endcomment %}
                        <img src="https://cdn3.iconfinder.com/data/icons/science-114/64/chemical-lab-laboratory-equipment-1024.png"  style="width:100px; height:100px;" alt="Italian Trulli">

                    </div>
                    <div class="stat-content dib" style="color:red;">
                        <div class="stat-text" style="color:red;" >Molecular Weight</div>
                        <div class="stat-digit" id="mw" style="color:blue;">...</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-icon dib">
                        <img src="https://cdn3.iconfinder.com/data/icons/science-114/64/chemical-lab-laboratory-equipment-1024.png"  style="width:100px; height:100px;" alt="Italian Trulli">
                    </div>
                    <div class="stat-content dib"style="color:red;" >
                        <div class="stat-text" style="color:red;">Log P</div>
                        <div class="stat-digit" id="lp" style="color:blue;">...</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-icon dib">
                        <img src="https://cdn3.iconfinder.com/data/icons/science-114/64/chemical-lab-laboratory-equipment-1024.png"  style="width:100px; height:100px;" alt="Italian Trulli">
                    </div>
                    <div class="stat-content dib" style="color:red;" >
                        <div class="stat-text" style="color:red;">No. of H-Acceptor</div>
                        <div class="stat-digit" id="NHA" style="color:blue;">...</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="stat-widget-one">
                    <div class="stat-icon dib">
                        <img src="https://cdn3.iconfinder.com/data/icons/science-114/64/chemical-lab-laboratory-equipment-1024.png"  style="width:100px; height:100px;" alt="Italian Trulli">
                    <div class="stat-content dib" style="color:red;">
                        <div class="stat-text" style="color:red;">No. of H-Donar</div>
                        <div class="stat-digit" id="NHD" style="color:blue;">...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="footer">
            </div>
        </div>
    </div>
</section>
{% endblock %}
