



.residue-dropdown {
    
    margin-left: 20px;
    
}
.name {
    margin: 5px;
    
}
.residue-number {
    margin: 5px;
}
.InnerDiv{
    display: none;
}

.chain-name {
    margin-left: 30px;
    
}

.ligands-dropdown {
    height: 200px;
    overflow-y: auto; 
    overflow-x: hidden; 
    border: 1px solid #ccc; 
    padding: 10px; 
    box-sizing: border-box; 
}
.chain-dropdown {
    height: 100px; 
    overflow-y: auto; 
    overflow-x: hidden;
    border: 1px solid #ccc; 
    padding: 10px; 
    box-sizing: border-box; 
    
}

#pdb-query {
    background: rgb(14,115,233);
    height: 25px;
    width: 90px;
    margin: 0px;
    padding: 0px;
    
}
#opm-query {
    background: rgb(14,115,233);
    height: 25px;
    width: 90px;
    margin: 0px;
    padding: 0px;
    
}